/*
元素选择器: h1 {color:blue;} ID选择器: #id {color:blue;} 类选择器 .class {color:blue;}
伪类选择器:a:hover {color:blue;} 子选择器:一个元素的所有后代 #nav>li {color:blue;} 相邻选择器 h1 + p {color:blue;}
层叠的重要度排序: 标有!important > 作者定义 > 用户定义 > 浏览器定义. 如果两个规则特殊性相同,后定义的规则优先.
盒模型: padding内边距加上margin外边距加上width实际宽度等于盒子的宽度,高度同理.
display属性:block 块级元素 inline 行内元素 none生成无框元素,不再显示 inline-block生成行内块级元素
css三种基本定位机制: 普通流 浮动 绝对定位. 块级元素从上到下依次垂直排列
修改行内框尺寸的唯一方法是修改 行高Height 或者水平边距width 内边距padding和外边距margin 
在使用相对定位时无论是否移动,元素仍然占据原来空间位置. 绝对定位与文档无关,不占据空间.可以修改z-index来控制元素覆盖
浮动:浮动元素可以左右移动直到边缘触碰到window框或者另一个浮动框的边缘,且不占文档空间,如果空间不足则向下移动
要想阻止元素框围绕在浮动框边上,就可以使用clear:both left right none属性,使得元素不受到浮动元素的定位影响
overflow属性可以定义包含的内容对于尺寸超出元素范围的情况下处理元素大小,如果不处理溢出元素,内容会溢出进入相邻的空间
在a标签的层叠修饰中,为了保证实现效果,应该按a:link, a:visited, a:hover, a:focus, a:active的顺序应用样式
*/

/* 常见的通用选择器:清除浏览器内外边距 */
* {
    padding: 0;
    margin: 0;
}
/* 常见的clear类:清理生成元素 */
.clear:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}
/* 圆角框CSS2实现 */
.box {
    width: px;
    background: url(/img/tile.gif) repeat-y;
}
.box h2{
    background: url(/img/top2.gif) no-repeat left top;
    padding-top: px;
}
.box .last {
    background: url(/img/bottom2.gif) no-repeat left bottom;
    padding-bottom: px;
}
.box h2, .box p {
    padding-left: px;
    padding-right: px;
}
/* 圆角框CSS3实现 */
.box {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}
/* 投影CSS3实现 box-shadow接受四个参数: 垂直偏移 水平偏移 投影宽度 颜色 */
img {
    -webkit-box-shadow: ;
    -moz-box-shadow: ;
    box-shadow: px px px #66ccff;
}
/* CSS2不透明度的实现 */
.alert {
    background-color: rgba(255,255,255,0.5);
    border-radius: ;
}
/* a标签的简单修饰 */
a:link, a:visited {
    text-decoration: none;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
}
/* 创建类似按钮的a标签链接 */
a {
    display: block;
    width: 6.6em;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
    border: 1px solid #66ccff;
    background-color: #336699;
    color: #fff;
}
/* CSS2实现翻转效果 */
a:link, a:visited {
    display: block;
    width:;
    height:;
    text-indent:-1000em;
    background: url(/img/button.png) left top no-repeat
}
a:hover, a:focus {
    background-image:url(/img/button-active.png);
}
a:active {
    background-image:url(/img/button-active.png);
}
/* CSS3实现翻转 */
a {
    display: block;
    width: 6.6em;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
    border: 1px solid #66ccff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66ccff), to(#369));
    background-color: #336699;
    color: #fff;
    text-shadow: 2px 2px 2px #66a300;
    -moz-box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
}
/* CSS实现工具提示 */
a.tooltip {
    position: relative;
}
a.tooltip span {
    display:none;
}
a.tooltip:hover span {
    display: block;
    position: absolute;
    top: 1em;
    left: 2em;
    padding: 0.2em 0.6em;
    border: 1px solid #996633;
    background-color:#ffff66;
    color: #000;
}
/* 自定义列表项目符号 */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: url() no-repeat 0 50%;
    padding-left:30px;
}
/* 基本的导航条样式 */
ul.class {
    padding:0;
    margin:0;
    list-style-type: none;
    width: 8em;
    background-color: #8BD400;
    border: 1px solid #486b02;
}
ul.class a{
    display: block;
    color: #2b3f00;
    text-decoration: none;
    border-top: 1px solid #e4ffd3;
    border-bottom: 1px solod #486b02;
    background: url() no-repeat 5% 50%;
    padding: 0.3em 1em;
}
ul.class .last a {
    border-bottom: 0;
}
ul.class a:hover,ul.class a:focus,ul.class .selected a{
    color: #e4ddd3;
    background-color: #6da203;
}
/* 水平导航条 */
ol.class li{
    float: left;
    margin-right: 0.6em;
}
ol.class a,ol.class li.selected{
    display: block;
    padding: 0.2em 0.5em;
    border: 1px solid #ccc;
    text-decoration: none;
}
ol.class a:hover,ol.class a:focus, ol.class li.selected{
    background-color: blue;
    color: white;
}
/* 水平图形化导航条 */
ul.class {
    margin: 0;
    padding: 0;
    list-style:none;
    width: 72em;
    overflow: hidden;
    background:  #faa819 url() repeat-x;
}
ul.class a{
    display:block;
    padding: 0 3em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
}
ul.class .first a{
    background-image:none;
}
/* 纯CSS下拉菜单 */
ul.class, ul.class ul{
    margin:0;
    padding:0;
    list-style-type:none;
    float:left;
    border: 1px solid #486b02;
    background-color: #8bd400;
}
ul.class li {
    float: left;
    width: 8em;
    background_colof: #8bd400;
}
ul.class li ul{
    width:8em;
    position: absolute;
    left: -999em;
}
.class li:hover ul {
    left:auto;
}
ul.class a{
    display: block;
    color: #2b3f00;
    text-decoration: none;
    padding: 0.3em 1em;
    border-right: 1px solid #486b02;
    border-left: 1px solid #ef44d3;
}
ul.class li li a{
    border-top: 1px solid #e4ffd3;
    border-bottom: 1px solid #486b02;
    border-left: 0;
    border-right: 0;
}
ul.class li:last-child a{
    border-right:0;
    border-bottom: 0;
}
ul a:hover,
ul a:focus{
    color: #e4ffd3;
    background-color: #6da203;
}
/* CSS图像映射 */
.imagemap {
    width:;
    height:;
    position: relative;
}
.imagemap ul{
    margin:0;
    padding:0;
    list-style:none;
}
.imagemap a{
    position: absolute;
    display: block;
    width:;
    height:;
    text-indent: -1000em;
}
.imagemap .one a{
    top:50px;
    left:80px;
}
.imagemap two a{
    top:90px;
    left:200px;
}
.imagemap three a{
    top:140px;
    left:55px;
}
.imagemap four a{
    top:140px;
    left:145px;
}
.imagemap a:hover,imagemap a:focus{
    border: 1px solid #fff;
}