body {
    margin:0;
    padding:0;
}
div {
    margin: 0 auto;
}

.div {
    background: #333;
    border:1px solid #333;
    color:white;
    text-align: center;
    max-width: 600px;
    max-height: 400px;
    margin: auto;
}

/* 垂直居中通过绝对定位的解决方案 其一需要指定元素宽高 其二会自适应裁剪内容*/
.main1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5em;
    margin-left: -8em;
    width: 16em;
    height: 10em;
}

.main2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
/* 垂直居中通过视口单位的解决方案 */
.main3 {
    width: 16em;
    padding: 1em 1.5em;
    margin: 50vh auto 0;
    transform: translateY(-50%);
}
/* 垂直居中通过Flexbox的解决方案 最佳 */
/* body {
    display: flex;
    min-height: 100vh;
    margin: 0;
} */
.main4 {
    margin: auto;
}

/* 光标闪现打字动画 */
@keyframes typing {
    from {width: 0;}
}
@keyframes caret {
    50% {border-color: transparent;}
}

h1 {
    margin: 0 auto;
    width: 15ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: .05em solid;
    animation: typing 6s steps(15),
               caret 1s steps(1) infinite;
}